body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Optima, sans-serif;
    background-color:rgb(108, 144, 202);
    font-size: 20px;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.form {
    text-align: center; 
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}
input[type="submit"]:hover {
    background-color: #2b527c; 
}